@page
@using ToiletFinder3000.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-5">
    <h3>Toilet finder 3000</h3>
</div>



@foreach (Toilet item in Model.Toilets)
{
    

<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
            <span class="avatar avatar-text rounded-3 me-4 mb-2">@item.Nickname</span>
            <div class="row flex-fill">
                    @* <div class="star-rating animated-stars">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5" class="bi bi-star-fill"></label>
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4" class="bi bi-star-fill"></label>
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3" class="bi bi-star-fill"></label>
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2" class="bi bi-star-fill"></label>
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1" class="bi bi-star-fill"></label>
                    </div> *@
                    <form method="post" asp-page-handler="AddRating">
                        
                    <select name="rate">
                        <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                    </select>
                        <input type="submit" value="Rate!">

                    </form>

             <form method="post"><input type="submit"  value="Delete"></form>
            </div>
        </div>
    </div>
</div>

}